<p id="notice"><%= notice %></p>

<% if current_participation %>
	<%= link_to "Cancel", [@event, current_participation], method: :delete %>
<% else %>	
	<%= form_for([@event, Participation.new]) do |f| %>
	  <%= f.submit "Assist" %>
	<% end %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<%= link_to 'Edit', edit_event_path(@event) if policy(@event).update? %> 
